@model IEnumerable<CobaCoba.Models.Buku>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.judul)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.penulis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tahunTerbit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.harga)
                </th>
                <th>
                    Aksi
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.judul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.penulis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tahunTerbit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.harga)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BukuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BukuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BukuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
