@model IEnumerable<CobaCoba.Models.Siswa>

@{
    ViewData["Title"] = "Daftar Siswa";
}

<h2>Daftar Siswa</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nama)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kelas)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kelas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KelasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KelasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KelasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
