@model CobaCoba.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.deskripsi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deskripsi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.harga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.harga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.foodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
